.sbdocs-content {
    max-width: 1440px !important;
}

#docs-root {
    background: #333 !important;
}

.sbdocs-wrapper {
    background-color: #1f1f1f !important;
}
.sbdocs-title {
    color:#ed6033 !important;
}
thead.docblock-argstable-head {
    background: #ea603d;
}
h2#stories {
    color:#ed6033 !important;
}
h3.sbdocs-h3 {
    color:#fff !important;
}
#docs-root * {
    font-family: sans-serif !important
}
/*.sbdocs-preview {*/
/*    border-color: #ed6033 !important;*/
/*}*/
/*.sbdocs-preview .os-viewport .os-content {*/
/*    background: #ed6033;*/
/*    color: #000;*/
/*}*/
